{% set id = script.title | c_serialise %} {% set is_nsfw = script.content_tags | c_any_nsfw %}

<div
    class="{{script.content_tags | c_script_classes}}"
    id="{{id}}"
    data-title="{{script.title | escape }}"
    data-tags="{{script.content_tags | c_join_content_tags }}"
    data-audience="{{script.audience_tags | join(',')}}"
    data-wordcount="{{script.wordcount}}"
    data-summary="{{script.summary}}"
    data-numFills="{{script.fills | length}}"
    data-VAsFilled="{{script.filled_by | join('===')}}"
    data-series="{{script.series | c_render_series}}"
    data-seriesIndex="{{script.series | c_render_series_index}}"
    data-nsfw="{{ 'NSFW' if is_nsfw else 'SFW' }}"
>
    <!-- HEADING -->
    <span class="script-index">{{script.published.strftime("%d %b %Y")}}: #{{script.index}}</span>
    <span class="copy-text" onclick='copyToClipboard("{{id}}")'>Copy</span>
    <p class="script-title">{{script.title | safe}}</p>

    <!-- TAGS -->
    <ul class="script-tags">
        {% for tag in script.audience_tags %}
        <li class="script-tag audience-tag {{tag.lower()}}">{{tag | safe}}</li>
        {% endfor %} {% for tag in script.content_tags %}
        <li class="{{tag | c_script_tag_classes}}">{{tag | safe}}</li>
        {% endfor %}

        <li class="script-tag meta-tag">{{script.wordcount_tag}}</li>
    </ul>

    <!-- SERIES -->
    {% if script.series %}
    <ul class="script-tags">
        <li class="script-tag series-tag {{script.series.title | c_serialise}}">
            Series: <span class="series-title">{{script.series.title}}</span> (Part <span class="series-index">{{script.series.index}}</span>)
        </li>
    </ul>
    {% endif %}

    <!-- SUMMARY -->
    <blockquote class="script-summary">
        {% for line in script.summary.splitlines() %}
        <p>{{line | safe}}</p>
        {% endfor %}
    </blockquote>

    <!-- LINKS -->
    <span><b>Links:</b></span>
    <div class="script-links">{% for link in script.links %} {% include "link.html" %} {% endfor %}</div>

    <!-- FILLS -->
    {% if script.fills %}
    <div class="fill-summary">
        <p>
            <b>Fills (<span class="fill-count">{{script.fills | length}}</span>):</b>
        </p>
        <div class="script-fills">{% for fill in script.fills %} {% include "fill_data.html" %} {% endfor %}</div>
    </div>
    {% endif %}
</div>
