@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #111111;
    --font-color: #dddddd;
    --greeting-color: #c05adc;

    --terms-of-use-background: #47133e;

    --tag-background: darkslategrey;
    --nsfw-tag-background: #9e0d0d;
    --meta-tag-background: slategrey;
    --series-tag-background: darkslategrey;

    --script-link-background: darkslategrey;
    --post-link-background: darkslategrey;

    /* fill speaker colours */
    --fill-female-background: #c05adc;
    --fill-male-background: #2626ad;
    --fill-mixed-background: seagreen;

    /* audience tag colours */
    --audience-f4f-background: #c05adc;
    --audience-f4a-background: #c05adc;
    --audience-m4a-background: #2626ad;
    --audience-a4a-background: seagreen;
}

body {
    font-family: "Aleo", sans-serif;
    background: var(--background);
    color: var(--font-color);
}

h1 {
    padding: 10px;
}

.greeting {
    font-size: 110%;
    padding: 10px 40px;
}

span.lilellia {
    font-weight: bold;
}

p.butterfly {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

a {
    color: var(--font-color);
}

div.all-scripts {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 1.5rem;
}

div.container {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--font-color);
}


p.script-title {
    font-size: 1.5em;
    font-weight: bold;
}

blockquote.script-summary {
    font-style: italic;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    font-size: 90%;
    
    float: left;
    padding: 8px 8px;
    margin: 4px;
    border-radius: 10px;
}

div.terms-of-use {
    background: var(--terms-of-use-background);
}

li.terms-of-use {
    font-size: 1em;
}

div.search-and-filter {
    text-align: center;
    width: fit-content;
    margin: auto;
}

input#filterInput {
    width: 100%;
    border-radius: 10px;
    padding: 8px 8px;
}


table {
    padding: 10px 40px;
}

td {
    padding: 2px 10px;
    text-align: right;
}


select, option {
    width: 100%;
    border-radius: 10px;
    padding: 8px;
}


li.script-tag {
    background: var(--tag-background);
}

li.script-tag.nsfw-tag {
    background: var(--nsfw-tag-background);
}

li.script-tag.meta-tag {
    background: var(--meta-tag-background)
}

li.script-tag.series-tag {
    background: var(--series-tag-background);
}

li.script-link {
    background: var(--script-link-background);
}

li.post-link {
    background: var(--post-link-background);
}


/* fill speaker tags */
ul.script-fills > li.fill-male {
    background: var(--fill-male-background);
}

ul.script-fills > li.fill-female {
    background: var(--fill-female-background);
}

ul.script-fills > li.fill-mixed {
    background: var(--fill-mixed-background);
}


/* audience tags */

li.audience-tag.f4f {
    background: var(--audience-f4f-background);
}

li.audience-tag.f4tf {
    background: var(--audience-f4f-background);
}

li.audience-tag.f4a {
    background: var(--audience-f4a-background);
}

li.audience-tag.ff4a {
    background: var(--audience-f4a-background);
}

li.audience-tag.ff4f {
    background: var(--audience-f4a-background);
}

li.audience-tag.fff4a {
    background: var(--audience-f4a-background);
}

li.audience-tag.fff4f {
    background: var(--audience-f4a-background);
}

li.audience-tag.m4a {
    background: var(--audience-m4a-background);
}

li.audience-tag.a4a {
    background: var(--audience-a4a-background);
}

li.audience-tag.fa4a {
    background: var(--audience-a4a-background);
}
