@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #111111;
    --font-color: #dddddd;

    --terms-of-use-background: #222222;

    --tag-background: darkslategrey;
    --nsfw-tag-background: #9e0d0d;
    --date-tag-background: slategrey;
    --series-tag-background: darkslategrey;

    --script-link-background: darkslategrey;
    --post-link-background: darkslategrey;

    /* fill speaker colours */
    --fill-female-background: #c05adc;
    --fill-male-background: #2626ad;
    --fill-mixed-background: seagreen;

    /* audience tag colours */
    --audience-f4f-background: #c05adc;
    --audience-f4a-background: #c05adc;
}

body {
    font-family: "Aleo", sans-serif;
    background: var(--background);
    color: var(--font-color);
}

a {
    color: var(--font-color);
}

div.script-data {
    padding: 10px 20px;
    margin: 30px;
    border-radius: 20px;
    border: 1px solid var(--font-color);
}

p.script-title {
    font-size: 1.5em;
    font-weight: bold;
}

blockquote.script-summary {
    font-style: italic;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    font-size: 90%;
    
    float: left;
    padding: 8px 8px;
    margin: 0px 4px;
    border-radius: 10px;
}

div.terms-of-use {
    background: var(--terms-of-use-background);
}

li.terms-of-use {
    font-size: 1em;
}

li.script-tag {
    background: var(--tag-background);
}

li.script-tag.nsfw-tag {
    background: var(--nsfw-tag-background);
}

li.script-tag.date-tag {
    background: var(--date-tag-background)
}

li.script-tag.series-tag {
    background: var(--series-tag-background);
}

li.script-link {
    background: var(--script-link-background);
}

li.post-link {
    background: var(--post-link-background);
}


/* fill speaker tags */
ul.script-fills > li.fill-male {
    background: var(--fill-male-background);
}

ul.script-fills > li.fill-female {
    background: var(--fill-female-background);
}

ul.script-fills > li.fill-mixed {
    background: var(--fill-mixed-background);
}


/* audience tags */

li.audience-tag.f4f {
    background: var(--audience-f4f-background);
}

li.audience-tag.f4a {
    background: var(--audience-f4a-background);
}