@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background: #111111;
    --font-color: #dddddd;
    --greeting-color: #c05adc;

    --terms-of-use-background: #47133e;

    --tag-background: darkslategrey;
    --nsfw-tag-background: #9e0d0d;
    --meta-tag-background: slategrey;
    --series-tag-background: darkslategrey;

    --script-link-background: slategrey;
    --post-link-background: slategrey;

    /* fill speaker colours */
    --fill-female-background: #c05adc;
    --fill-male-background: #2626ad;
    --fill-neutral-background: seagreen;

    /* audience tag colours */
    --audience-f4f-background: #c05adc;
    --audience-f4a-background: #c05adc;
    --audience-m4a-background: #2626ad;
    --audience-a4a-background: seagreen;

    /* amount of the blur on the NSFW scripts */
    --nsfw-blur-range: 5px;
}

body {
    font-family: "Aleo", sans-serif;
    background: var(--background);
    color: var(--font-color);
}

h1 {
    padding: 10px;
}

.greeting {
    font-size: 110%;
    padding: 10px 40px;
}

span.lilellia {
    font-weight: bold;
}

p.butterfly {
    font-weight: bold;
    font-size: 1.3em;
    text-align: center;
}

a {
    color: var(--font-color);
}

div.all-scripts {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

div.container {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid var(--font-color);
    margin: 0 10px;
}


.blurred {
    -webkit-filter: blur(var(--nsfw-blur-range));
    -moz-filter: blur(var(--nsfw-blur-range));
    -o-filter: blur(var(--nsfw-blur-range));
    -ms-filter: blur(var(--nsfw-blur-range));
    filter: blur(var(--nsfw-blur-range)); 
}


p.script-title {
    font-size: 1.5em;
    font-weight: bold;
}

blockquote.script-summary {
    font-style: italic;
}

ul {
    list-style-type: none;
    display: inline-block;
    margin: 0px;
}

li {
    font-size: 90%;
    
    float: left;
    padding: 8px 8px;
    margin: 4px;
    border-radius: 10px;
}

div.terms-of-use {
    background: var(--terms-of-use-background);
}

li.terms-of-use {
    font-size: 1em;
}

div.search-and-filter {
    text-align: center;
    width: fit-content;
    margin: auto;
}

input#filterInput {
    width: 100%;
    border-radius: 10px;
    padding: 8px 8px;
}


table {
    padding: 10px 40px;
    border-collapse: collapse;
}

td {
    padding: 2px 10px;
    text-align: right;
}


select, option {
    width: 100%;
    border-radius: 10px;
    padding: 8px;
}

i.icon-left {
    margin-right: 4px;
}

i.icon-right {
    margin-left: 4px;
}


li.script-tag {
    background: var(--tag-background);
}

li.script-tag.nsfw-tag {
    background: var(--nsfw-tag-background);
}

li.script-tag.meta-tag {
    background: var(--meta-tag-background)
}

li.script-tag.series-tag {
    background: var(--series-tag-background);
}

li.link-tag {
    background: var(--script-link-background);
    border: 2px solid var(--font-color);
}



/* fill speaker tags */
.fill-male {
    background: var(--fill-male-background);
}

.fill-female {
    background: var(--fill-female-background);
}

.fill-neutral {
    background: var(--fill-neutral-background);
}


/* audience tags */

.audience-tag.f4f {
    background: var(--audience-f4f-background);
}

.audience-tag.f4tf {
    background: var(--audience-f4f-background);
}

.audience-tag.f4a {
    background: var(--audience-f4a-background);
}

.audience-tag.ff4a {
    background: var(--audience-f4a-background);
}

.audience-tag.ff4f {
    background: var(--audience-f4a-background);
}

.audience-tag.fff4a {
    background: var(--audience-f4a-background);
}

.audience-tag.fff4f {
    background: var(--audience-f4a-background);
}

.audience-tag.m4a {
    background: var(--audience-m4a-background);
}

.audience-tag.a4a {
    background: var(--audience-a4a-background);
}

.audience-tag.fa4a {
    background: var(--audience-a4a-background);
}

.audience-tag.nb4a {
    background: var(--fill-neutral-background);
}

/* tooltips */

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted var(--font-color);
    overflow: visible;
}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--meta-tag-background);
    color: var(--font-color);
    text-align: center;
    padding: 2px 8px;
    border: 1px solid white;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltiptext > ul {
    padding: 8px 0;
    white-space: nowrap;
}