li.script-tag.series-tag.--neko-and-inu-- {
    background: #1F7F92;
    color: #6BF1F0;
}

li.script-tag.series-tag.automata-deserve-things-too {
    background: #333447;
    color: #73a5f6;
}

li.script-tag.series-tag.adventures-with-a-mermaid {
    background: #A940F1;
    color: #DDACFF;
}

li.script-tag.series-tag.thou-and-thy-princess {
    background: #816f31;
    color: #ffff88;
}

li.script-tag.series-tag.atelier-isa {
    background: #558051;
    color: #cdffc5;
}

li.script-tag.series-tag.flirtatious-fishergirl {
    background: #915e5e;
    color: #ffdfdb;
}

li.script-tag.series-tag.magical-girl-best-friend {
    background: #425ca1;
    color: #c2f9ff;
}

li.script-tag.series-tag.neko-girl-comes-out {
    background: #724288;
    color: #daa4e0;
}
