li.script-tag.series-tag.adventures-with-a-mermaid {
    background: #24847e;
    color: #60e9f7;
}

li.script-tag.series-tag.knight-×-princess {
    background: #816f31;
    color: #ffff88;
}

li.script-tag.series-tag.atelier-isa {
    background: #558051;
    color: #cdffc5;
}

li.script-tag.series-tag.flirtatious-fishergirl {
    background: #915e5e;
    color: #ffdfdb;
}

li.script-tag.series-tag.magical-girl-best-friend {
    background: #425ca1;
    color: #c2f9ff;
}

li.script-tag.series-tag.neko-girl-comes-out {
    background: #724288;
    color: #daa4e0;
}
